/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0ea;
    color: #333;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    line-height: 1.6;
    animation: fadeIn 2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Links */
a {
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.3s, color 0.3s ease-in-out;
    
}

a:hover {
    opacity: 0.7;
    color: #057c7c;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #057c7c;
    padding: 10px 20px; /* Tornando a navbar mais fina */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease-out;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Logo */
.logo {
    color: white;
    font-size: 25px; /* Menor tamanho de fonte para a logo */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilos para os links do menu */
.menu a {
    color: white;
    padding: 8px 15px; /* Ajustado o padding para melhor visual */
    font-size: 18px; /* Tamanho de fonte ajustado */
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

.menu a:hover {
    background-color: #575757;
    transform: scale(1.05);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para os botões das redes sociais */
a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

a img {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

/* Estilos específicos para cada rede social */
.insta-button {
    background-color: #E4405F;
}

.github-button {
    background-color: #333;
}

.facebook-button {
    background-color: #3b5998;
}

/* Efeitos de hover */
a:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}

a:hover img {
    transform: rotate(20deg);
}

/* Animação de fade-in para os botões */
a {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

a:nth-child(1) {
    animation-delay: 0.2s;
}

a:nth-child(2) {
    animation-delay: 0.4s;
}

a:nth-child(3) {
    animation-delay: 0.6s;
}

/* Animação de fade-in */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Animações adicionais */
@keyframes slideDown {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideInUp {
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .menu a {
        font-size: 14px;
        padding: 8px 12px;
    }
}